body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin:0px;
    width: 100%;
}
li a { color:#F5F5F5;
    padding-bottom: 6px; 
}
.navHeaderSpan{
    display: block;
    filtbox-shadow: 0 0 5px rgba(57,70,78,1.2);
    width: 100%;
    height: 1px;
    position: absolute;
    top: 38px;
    background-color: #fff;
}

a:hover { text-decoration: none; }
h2 { font-size:1.5em;  }
h3+i {
    position: relative;
    top: 5px;
    right: 10px;
}
header {
    background-color: rgb(3,23,43);
    color:#ddd;
}

/*     box-shadow: 0 0 6px rgba(57,70,78,.5); */

header h3 { 
            margin-top:0px;
            margin-bottom:0px;
            padding:12px;
            color:#ddd;
            font-weight: 100;

          }

header li, header ul { 
    display:inline-block;
    }
header ul {
    margin-bottom: 0px;
}
header li { 
    margin-right:18px;
    font-size: .9em;
    padding-bottom: 8px;
    }
header li .selected {
    color: lightblue;
    border-bottom: 3px solid lightblue;
}

header h2 { 
    display: inline-block;
    font-weight:300;
    padding:6px 0px; 
}
.blue { color:rgb(40,118,210); }
.float-left { float: left; }
.float-right { float: right; }
.filterColumnSection {
    padding: 24px;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}
#centerColumn { margin:0px;padding:0px;  }

.sidebar-header strong  { 
    font-size: .9em;
    padding: 11px 0px;
    margin: 0px 12px;
}

.sidebar-header { 
    min-height: 60px;
    border-bottom: 1px solid #DDD; 
}

.active-item { border-bottom: 6px solid #1976D2; }
.sidebar-header div { padding:12px; }
.detail-btn { font-family: 'Roboto', sans-serif !important;
    padding:3px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 12px;
    font-weight:300;
 }
 .threat-description {
    font-size: .9em;
    padding: 18px 0px;
    line-height: 1.5;

 }
label {
    color:333;
    font-size:.8em;
}
input+label+span { 
    float:right;
    padding-right:18px;
    font-size:.8em;
    color:#ccc;
}
.row {margin:0px;}

#accept-icon {
    float:left;
}

#detailColumn, #filterColumn {
    min-height: 800px;
    background-color: rgb(245,245,245);
    padding:0px;
    border-left: 1px solid #ddd;
}

#filterColumn { border-right: 1px solid #ddd; }

#detail-body {
    padding:18px;
    font-size:.8em;
}
#infoSection { 
    background-color: #fff;
    color:#111;
    padding-left:30px;
    border-bottom:1px solid #DDD;
 }
 .light { color:#ccc; }

.detail-risk-15{ border-left: 6px solid red;padding-left:6px;}
.detail-risk-14{ border-left: 6px solid red;padding-left:6px;}
.detail-risk-13{ border-left: 6px solid orange;padding-left:6px}
.detail-risk-12{ border-left: 6px solid orange;padding-left:6px}
.detail-risk-11{ border-left: 6px solid gold;padding-left:6px}
.detail-risk-10{ border-left: 6px solid gold;padding-left:6px}

.detail-risk-Critical{ border-left: 6px solid #CB0;padding-left:6px}
.detail-risk-High{ border-left: 6px solid #FB6545;padding-left:6px}
.detail-risk-Low{ border-left: 6px solid #FA3;padding-left:6px}
.detail-risk-Info{ border-left: 6px solid #0A5;padding-left:6px}


.row-risk-Critical{ border-left: 3px solid red;padding-left:6px;}
.row-risk-High{ border-left: 6px solid orange;padding-left:6px}
.row-risk-Low{ border-left: 3px solid gold;padding-left:6px}


/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.ag-cell {
    padding-top: 18px !important;
    padding-bottom: 2px !important;
    font-size: .8em;
    border-bottom: none !important;
}
.ag-cell:focus {outline:none;border:none !important;}
.ag-cell-focus { border:none !important; }
.ag-row:hover { background-color: rgb(245,245,245) !important;}
.ag-row-selected { 
    /*color: rgb(40,118,210);*/
    font-weight:bold;
    background-color: rgb(245,245,245) !important;
}

.ag-material .ag-cell-no-focus {  border-top:none !important; }

.ag-row { border-bottom: 1px solid #eee !important; }

.inline-block {display:inline-block;}

.ag-material .ag-header {
    border-bottom:1px solid #ccc !important;
    font-size:.9em !important;
    font-weight:500 !important;
}

-moz-user-focus: ignore;
-webkit-user-select: none;
-moz-user-select:none;

label {
    font-weight: normal !important;
}

.div-percent-bar {
    display: inline-block;
    height: 100%;
    position: relative;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}

.div-outer-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}

.recharts-default-legend {
    position: absolute;
    top: -320px;
    left: 60px;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}

.recharts-wrapper { margin-top: 42px; }
.simple-list-div ul { 
    list-style: none;
    text-transform:capitalize; 
    padding: 0px;
}
.margin-left-90{margin-left:90px;}

.details-screenshot {
    border: 3px solid white;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
    border-radius: 3px;
    margin-top:18px;
}
.text-align-center { text-align:center; }
.simple-list-div { 
    color:#999;
    font-weight:500;
    border: 1px solid #DDD;
    padding:12px 12px 12px 12px;
    border-radius:3px;
 }

 .simple-list-div h5 { 
    color:#333; }

.row .login {text-align:center;}

header a:focus { text-decoration: none; color:#FFF; }

.btn-sign-in { background-color: #00BCD4;
    border-radius: 0;
    border: none; }

.btn-sign-in:hover { background-color: #00CCD4;
    border-radius: 0;
    border: none; }
.form-signin { font-weight: 300; }
#inputEmail {
    box-shadow:none;
    border-radius: 0;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:1px solid #ddd;
    
}
#inputPassword{
box-shadow:none;
    border-radius: 0;
    border-top:none;
    border-right:none;
    border-left:none;
    border-bottom:1px solid #ddd;
    

}

#inputEmail:focus { border-bottom: 2px solid #777 }
#inputPassword:focus { border-bottom: 2px solid #777 }

.form-signin h2 { font-weight:300 !important; }

.login { margin-top: 200px; }

.login-box { padding:36px; background-color:#FDFDFD;border:1px solid #BBB; }
.tag-span { 
    border-radius: 6px;
    margin:3px;
    padding:6px;
    background-color: #1976D2;
    color: #fff;
    font-size:.95em;
 }

 .tag-span.critical { background-color:#CB000F; }
 .tag-span.important { background-color:#EF6042; }
.full-width-col {width:100%;}
.ag-pinned-left-cols-viewport { width: 100% !important; }
.ag-pinned-left-cols-container { width: 100% !important; }
.ag-cell-last-left-pinned { width:100% !important; }
.ReactTags__remove {color:#fff;margin-left:3px;}


.null-detail { 
    text-align:center;
    padding-top:180px;
    color:#999;
}

.ReactTags__tagInput {
    display:inline;
    border:none;
    width: 42px;
}

.ReactTags__tagInput input {
    border:none;
    width:24px;
    border-radius: 3px;
    cursor: pointer;
}

.span-filter-label {
    position: absolute;
    top: 3px;
    left: 24px;
}

.screenshot-section .btn {
  border:none;
}

.screenshot-section a:hover{
 cursor:pointer;
}
.modal-body img {width:100%;}
/*
* {
  font-family: Apercu-Bold, Calibri, sans-serif;
  color: #333333;
  box-sizing: border-box;
}
*/
.container {
  padding: 20px;
  background: #FAFAFA;
}

.checkbox {

  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
.checkbox label {
  cursor: pointer;
  padding-left: 0;
  font-weight:800;
}
.checkbox input[type=checkbox] {
  opacity: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
  width: 0;
  height: 0;
  overflow: hidden;
  left: 0;
  pointer-events: none;
}
.checkbox .checkbox-material {
  vertical-align: middle;
  position: relative;
  top: 3px;
}
.checkbox .checkbox-material:before {
  position: absolute;
  left: 8px;
  top: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  height: 4px;
  width: 4px;
  border-radius: 100%;
  z-index: 1;
  opacity: 0;
  margin: 0;
}
.checkbox .checkbox-material .check {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 1px solid #333;
  border-radius: 1px;
  overflow: hidden;
  z-index: 1;
  color: #1976D2;
}
.checkbox .checkbox-material .check:before {
  position: absolute;
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
  margin-top: -4px;
  margin-left: 6px;
  width: 0;
  height: 0;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0 inset;
  -webkit-animation: checkbox-off 0.3s forwards ease-out;
          animation: checkbox-off 0.3s forwards ease-out;
}
.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
  opacity: 0.2;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
  box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  -webkit-animation: checkbox-on 0.3s forwards ease-out;
          animation: checkbox-on 0.3s forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material:before {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after {
  -webkit-animation: rippleOff 700ms forwards ease-out;
          animation: rippleOff 700ms forwards ease-out;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
  -webkit-animation: rippleOn 700ms forwards ease-out;
          animation: rippleOn 700ms forwards ease-out;
}
.checkbox input[type=checkbox][disabled]:not(:checked) ~ .checkbox-material .check:before,
.checkbox input[type=checkbox][disabled] + .circle {
  opacity: 0.5;
}
.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
  background-color: rgba(0, 0, 0, 0.84);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.coloured .checkbox-material .check {
  color: #2FAEF8;
}
.coloured .checkbox-material:before {
  background-color: #2FAEF8;
}
.coloured input[type=checkbox]:checked + .checkbox-material .check {
  color: #2FAEF8;
}

/* CSS Checkboxes */
@-webkit-keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}

@keyframes checkbox-on {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px;
  }
  50% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px 2px 0 11px;
  }
  100% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px;
  }
}
@-webkit-keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@keyframes checkbox-off {
  0% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  25% {
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 20px -12px 0 11px, 0 0 0 0 inset;
  }
  50% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-top: -4px;
    margin-left: 6px;
    width: 0px;
    height: 0px;
    box-shadow: 0 0 0 10px, 10px -10px 0 10px, 32px 0px 0 20px, 0px 32px 0 20px, -5px 5px 0 10px, 15px 2px 0 11px, 0 0 0 0 inset;
  }
  51% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 10px inset;
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-top: -2px;
    margin-left: -2px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0 0 0 0, 0px 0px 0 0px inset;
  }
}
@-webkit-keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@keyframes rippleOn {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@-webkit-keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}
@keyframes rippleOff {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(13, 13);
            transform: scale(13, 13);
  }
}

.filter-count-span {    
    float: right;
}
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}