body {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 20px;
    margin:0px;
}

h2 { font-size:1.5em;  }
h3+i {
    position: relative;
    top: 5px;
    right: 10px;
}
header {
    background-color: rgb(3,23,43);
    color:#ddd;
}

header h3 { 
            margin-top:0px;
            margin-bottom:0px;
            padding:12px;
            color:#ddd;
            font-weight: 100;

          }

header li, header ul { 
    display:inline-block;
    }
header ul {
    margin-bottom: 0px;
}
header li { 
    margin-right:18px;
    font-size: .9em;
    padding-bottom: 8px;
    }
header li .selected {
    color: lightblue;
    border-bottom: 3px solid lightblue;
}

header h2 { 
    display: inline-block;
    font-weight:300;
    padding:6px 0px; 
}
.blue { color:rgb(40,118,210); }
.float-left { float: left; }
.float-right { float: right; }
.filterColumnSection {
    padding: 24px;
    border-bottom: 1px solid #ddd;
}
#centerColumn { margin:0px;  }

.sidebar-header strong { font-size:.9em;padding:12px; }

.sidebar-header { 
    min-height: 60px;
    border-bottom: 1px solid #DDD; 
}
.sidebar-header div { padding:12px; }
.detail-btn { font-family: 'Roboto', sans-serif !important;
    padding:3px;
    width: 100%;
    border-radius: 0px;
    margin-bottom: 12px;
    font-weight:300;
 }
 .threat-description {
    font-size: .9em;
    padding: 18px 0px;
    line-height: 1.5;

 }
label {
    color:333;
    font-size:.8em;
}
input+label+span { 
    float:right;
    padding-right:18px;
    font-size:.8em;
    color:#ccc;
}
.row {margin:0px;}

#accept-icon {
    float:left;
}

#detailColumn, #filterColumn {
    min-height: 800px;
    background-color: rgb(245,245,245);
    padding:0px;

}

#filterColumn { border-right: 1px solid #ddd; }

#detail-body {
    padding:18px;
    font-size:.8em;
}
#infoSection { 
    background-color: #fff;
    color:#111;
    padding-left:30px;
    border-bottom:1px solid #DDD;
 }
 .light { color:#ccc; }

.detail-risk-high{ border-left: 6px solid red;padding-left:6px;}
.detail-risk-med{ border-left: 6px solid orange;padding-left:6px}
.detail-risk-medlow{ border-left: 6px solid yellow;padding-left:6px}
.detail-risk-low{ border-left: 6px solid green;padding-left:6px}

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.ag-cell {
    padding-top: 18px !important;
    padding-bottom: 2px !important;
    font-size: .8em;
}

.ag-row:hover { background-color:#AEDFFA !important;}
.ag-row-selected { background-color:#AEDFFA !important;}
.ag-cell-focus {     
    border: none !important;
    border-bottom: 1px solid #ccc !important; }
.ag-material .ag-header {
    border-bottom:1px solid #ccc !important;
    font-size:.9em !important;
    font-weight:500 !important;
}



label {
    font-weight: normal !important;
}

.div-percent-bar {
    display: inline-block;
    height: 100%;
    position: relative;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}

.div-outer-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}