html {
  font-family: 'Roboto', sans-serif;
}

body {
    font-size: 13px;
    line-height: 20px;
    margin:0px;
}

h2 { font-size:1.5em;  }

header {
    background-color: rgb(3,23,43);
    color:#ddd;
}

header h3 { 
            margin-top:0px;
            margin-bottom:0px;
            padding:12px;
            color:#ddd;
            font-weight: 100;

          }

header li, header ul { 
    display:inline-block;
    }
header ul {
    margin-bottom: 0px;
}
header li { 
    margin-right:18px;
    font-size: .9em;
    padding-bottom: 8px;
    }
header li .selected {
    color: lightblue;
    border-bottom: 3px solid lightblue;
}

header h2 { 
    display: inline-block;
    font-weight:300;
    padding:6px 0px; 
}

.filterColumnSection {
    padding: 24px;
    border-bottom: 1px solid #ddd;
}

#filter-header, #detail-header { border-bottom: 1px solid #DDD; }
#filter-header strong, #detail-header strong { font-size:.9em;padding:6px; }

label {
    color:333;
    font-size:.8em;
}
input+label+span { 
    float:right;
    padding-right:18px;
    font-size:.8em;
    color:#ccc;
}


#detailColumn, #filterColumn {
    background-color: rgb(245,245,245);
    padding:0px;
}

#filterColumn { border-right: 1px solid #ddd; }

#infoSection { 
    background-color: #fff;
    color:#111;
    padding-left:30px;
    border-bottom:1px solid #DDD;
 }
 .light { color:#ccc; }

/* Rules for sizing the icon. */
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.ag-cell {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

label {
    font-weight: normal !important;
}

.div-percent-bar {
    display: inline-block;
    height: 100%;
    position: relative;
}

.div-percent-value {
    position: absolute;
    padding-left: 4px;
    font-weight: bold;
    font-size: 13px;
}

.div-outer-div {
    display: inline-block;
    height: 100%;
    width: 100%;
}